header{
	background-color: #006666;
	text-align: center;
	padding: 40px 40px 1px 40px;
}

h1{
	font-family: cursive, sans-serif;
	font-size: 100px;
	color: #ffffe6;
	margin: 2px;
}

header img{
	max-width: 726px;
	border-radius: 50%;
	border: 40px solid #99ccff;
}