header{
	background-color: #006666;
	text-align: center;
	padding: 40px 40px 1px 40px;
	border: none;
	margin-top: -20px; margin-right: -20px; margin-left: -20px;
}

h1{
	font-family: cursive, sans-serif;
	font-size: 100px;
	color: #ffffe6;
	margin: 2px;
}

header img{
	max-width: 726px;
	border-radius: 50%;
	border: 40px solid #99ccff;
}

body{
	background-color: #99ccff
}

.content {
	max-width: 900px;
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 14px;
	color: grey;
	font-style: italic;
	margin: 0;
}

ul,ol{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

a{
	color: #00e6ac;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #e0e0d1;
	margin-bottom: -20px; margin-right: -20px; margin-left: -20px;
}

ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}